*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}
body{
    background: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin :100px auto 0;
    padding: 30px;
}
.app h1{
    font-family: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    color: #001e4d;
    font-size: 25px;
    font-weight: 600;
}
.btn{
    font-size: 15px;
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px; 
}
.btn:hover{
    background-color: #dddada;
    color: rgb(27, 27, 27);

}
.next{
    background-color: #001e4d;
    color: white;
    border-radius:13px;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 10px auto 0;
     display: block;
    
}