*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:#002239;
    color: white;
    
}
.container{
    display: block;
    width: 90%;
    font-weight: 800;
    margin:100px auto 0;
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1{
    font-size: 40px;
}
.display{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 20px;

}
.favtext{
    color:#019f55;
    border-bottom: 3px solid #019f55;
    padding-bottom: 10px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 30px;
}
.generate-btn{
    border: none;
    background: #019f55;
    color: white;
    padding: 9px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.generate-btn img{
    outline: 0;
    width: 20px;
    margin-right: 10px;

}

