*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #262a2f;
}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;


}
.container p{
    font-weight: bold;
    margin-bottom: 23px;
}
.container input{
    font-size: 15px;
    padding: 10px 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    
}
.container button{
    padding: 12px ;
    background-color: rgb(38, 58, 173);
    border: none;
    border-radius: 10px;
    color: white;
}
.container button:hover{
    background-color: rgb(71, 89, 195);
}
.container button:active{
    background-color: rgb(38, 58, 173);
}
.qrimage{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.error{
    animation:shake 0.1s linear 10;
}
@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0);
    }
}