*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #3d64e6;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 80vh;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
}
.wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
    margin-bottom: 25px;
}
.wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: white;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.25em;
}
.wrapper button:hover{
    opacity: 85%;
}
.wrapper button:active{
    opacity: 100%;
}
.wrapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
}
.information{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.information img{
    display: block;
    width:160px;
    height: 80px;
     box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.information h1{
    color: rgb(73, 73, 73);
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
}
.nationDetails{
    display: flex;
flex-direction: column;   
gap: 10px;
}
.nameHeaders{
    font-weight: 900;
}

.error{
    color: red;
    font-weight: 300;
}