@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
body{
    background: #588b8b;
}
.quote-box{
    background: white;
    width: 700px;
    position: absolute;
top:50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
padding: 40px;
text-align: center;
border-radius: 15px;
 box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.25)
}
.quote{
    display: block;
    font-family: 'Playfair Display', serif;
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content: "";
    width: 175px;
    height: 3px;
    border-radius: 30px;
    background: rgb(23, 124, 229);
    position: absolute;
bottom: -10px;
left: 50%;
transform: translate(-50%);
}
.quote{
    font-size: 26px;
    min-height: 116px;
}
.quote::after,.quote::before{
    content: "";

}
.author{
    margin-top: 5px;
    float: right;
    position: relative;
}
.author::before{
    content: "";
    width: 20px;
    height: 2px;
    background: blue;
    position:absolute;
    top: 50%;
    left: -30px;
}
.btns{
    width: 100%;
    margin-top: 20px; 
    display: flex;
    justify-content: center;
}
.btns button{
    background: rgb(23, 124, 229);
    color: white;
    border: 2px solid rgb(23, 124, 229);
    border-radius: 25px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 17px;
    cursor: pointer;

}
.btns button:hover{
    background: rgb(2, 94, 192);
   
}
.btns button img{

    width: 25px;
    margin-right: 5px;
}
.btns button img:hover{
    width: 24px;
}
.btns button:nth-child(2) {
    background: transparent;
    color: black;
}

.btns button:nth-child(2):hover{
    background-color: rgb(2, 94, 192);;
    color: whitesmoke;
} 
