body {
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container_main {
  background-color: rgb(154, 186, 187);
  height:250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addcontainer {
  display: flex;
  flex-direction: row;
}
.addbtn{
  background-color: #f82db5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  width: 40px 40px;
  font-size: 20px;
}
.inputtext{
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}
.text_container{
  font-size: 25px;
}
.display_container{
  padding-right: 23px;
   margin: auto;
   width: 350px;
   border: 2px solid rebeccapurple;
}
* {
  list-style-type: none;
}
.checkbox{
  left: 0;
}
 .closebtn{
  /* margin:5px 20px; */
  position: absolute;
  right: 38vw;
  background-color: #f82db5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 6px;
  
} 
.todoelement{
  padding: 4px 4px;
margin: 2px -5px;
  border:2px solid grey;
}